<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# URL: /category-name
RewriteRule ^([a-zA-Z0-9-]+)/?$ single-category.php?category_name=$1 [L,QSA]

# URL: /category-name/post-name
RewriteRule ^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?$ single-ad.php?category_name=$1&post_slug=$2 [L,QSA]
</IfModule>
